# Cargo
debug/
target/

# User
/*.txt
/*.exe
/*.tgz
.DS_Store

# Dev
/old
/.temp
/logs
/results

# Benchmark
/benchmark/**/*.txt
/benchmark/**/*.md
/benchmark/**/*.tsv
/benchmark/**/*.log
!/benchmark/README.md
