[workspace]
resolver = "3"
members = [
    "crates/tsp_mt_core",
    "crates/tsp_mt_derive",
]

[package]
name = "tsp-mt"
version = "0.1.0"
edition = "2024"

[dependencies]
log = "0.4.29"
tsp_mt_core = { path = "crates/tsp_mt_core" }

[profile.dev.package."*"]
opt-level = 3

[profile.dev]
opt-level = 1

[profile.release]
opt-level = "s"
lto = true
codegen-units = 1
strip = true
